@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&family=Poppins:ital,wght@0,200;0,600;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
    /* background:white; */

}
.logo{
height: 80%;
}
.header{
    background: black;
    height: 80px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding:0 20px ;
    box-shadow: 2px 3px 4px black;
}

.nav-list{
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.nav-link{
    color: white;
    font-size: 1.2rem;
    /* font-weight:unset; */
}
.nav-link:hover{
    color: rgba(207, 207, 207, 0.61);
    transform: scale(105%);
    transition-duration: 0.3s;
    
}
/* NAVBAR LISTO */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.hero {
    display: flex;
    margin: 70px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 5rem;
    background: rgba(207, 207, 207, 0.61);
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
} 
.hero:hover{
    transform: scale(101%);
    transition-duration: 0.5s;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}
.hero-text h1 {
    display: flex;
    width: 300px;
    justify-content: center;
    font-weight: 700;
    font-size: 2.2rem;
}


    .hero-text p {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .text-btn {
        margin-top: 1rem;
        display: flex;
        gap: 15px; 
    }
    .btn {
        border: 2px solid slategrey;
        color: slategray;
        box-shadow: 2px 3px 4px black;
        padding: 1rem 1.3rem;
        border-radius: 8px;
        font-weight: 500;
    }
    .btn:hover{ 
        transform: scale(105%);
        transition-duration: 0.3s;
    }
    .dcd{
        width: 90vh;
        height: auto;
        border-radius: 15px;
        box-shadow: 2px 3px 4px black;
    }
    .dcd:hover{
        transform: scale(101%);
        transition-duration: 0.5s;
    }
    .caja{
/* background: red; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
    .caja2{
        /* background: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: 50px;
        padding: 20px;
        /* width: 170vh; */
        gap: 3rem;
        background: rgba(207, 207, 207, 0.61);
        border-radius: 10px;
        box-shadow: 2px 3px 4px black;
    }
    .caja2:hover{
        transform: scale(101%);
        transition-duration: 0.5s;
    }
    .caja2 h2{
        display: flex;
        /* align-items: center;
        justify-content: center; */
        width: 800px;
        font-weight: 400;
        font-size: 1.5rem;
        /* padding-bottom: 20px; */
        /* background: beige; */
    }
    .listimg{
        /* background: bisque; */
        display: flex;
        gap: 5rem;
        
    }
    .lista{
        list-style: none;
        /* padding: 20px; */
        gap: 15px;
    }
    .caja2 ul{
        display: flex;
        flex-direction: column;
        width: 200px;
        /* background: beige; */
    }

    .img{
        display: flex;
        width: 400px;
        /* height: 100px; */
        border-radius: 15px;
        box-shadow: 2px 3px 4px black;
    }
    .img:hover{
        transform: scale(101%);
        transition-duration: 0.5s;
    }
    .caja3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(207, 207, 207, 0.61);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        margin-top: 50px;
        /* width: 100vh; */
        /* align-items: center; */
    }
    .caja3 h1{
        color: black;
        padding: 20px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .caja3 p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 10px 10px 60px;
        /* background: red; */
        /* background: white; */
    }

    .tarj-cont{
        display: flex;
        justify-content: space-around;
        /* background: red; */
    }
    .tarj-cont p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background: red; */
    }
    .tarj{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items:center;
        /* justify-content:center ; */
        background:white;
        border-radius: 15px;
        box-shadow: 2px 3px 4px black ;
        /* background: blue; */
        width: 300px;
    }
    .info-tarj{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 50%;
    
    }
    .caja4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        background: rgba(207, 207, 207, 0.61);
        /* width: 100vh; */
        margin-top: 100px;
        margin-bottom: 100px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

    }
    .caja4 h1{
        color: black;
        padding: 20px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .caja4 p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 10px 10px 60px;
        /* background: red; */
        /* background: white; */
    }

    .tarj-conteiner{
        display: flex;
        justify-content: space-around;
        /* background: red; */
    }
    .tarj-conteiner p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background: red; */
    }
    .tarj-2{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items:center;
        /* justify-content:center ; */
        background:white;
        border-radius: 15px;
        box-shadow: 2px 3px 4px black ;
        /* background: blue; */
        width: 300px;
    }
    .info-tarj2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 50%;
    }
    .marcas{
        display: flex;
        flex-direction: column;
        /* background: black; */
    }
    .logo-marcas{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .logo1{
        width: 10%;
    }
    .logo1:hover{
    transform: scale(105%);
        transition-duration: 0.3s;
    }
    /* @media (max-width:420px ) {
        .body{
            width: 412px;
        }
        .header{
            width: 412px;
            padding: 10px 10px;

            
        }
        .logo{
      
        }
        .nav-list{
            gap: 20px;
        }
        .nav-link{
            font-size: 0.8rem;
            
        }
        .container{
            width: 412px;
        }
        .hero{
            width: 412px;
        }
        .hero-img{
            background: red;
        }
        .dcd{
       
            width: 100px;
            height: auto;
            border-radius: 15px;
            box-shadow: 2px 3px 4px black;

        }
    } */