@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&family=Poppins:ital,wght@0,200;0,600;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
    /* background:white; */

}
.logo{
height: 80%;
}
.header{
    background: black;
    height: 80px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding:0 20px ;
    box-shadow: 2px 3px 4px black;
}

.nav-list{
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.nav-link{
    color: bisque;
}
.nav-link:hover{
    color: slategrey;
    transform: scale(105%);
    transition-duration: 0.3s;
    
}
/* NAVBAR LISTO */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.hero {
    display: flex;
    margin: 70px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 170vh;
    gap: 5rem;
    background: rgba(207, 207, 207, 0.61);
    border-radius: 10px;
} 
.hero:hover{
    transform: scale(101%);
    transition-duration: 0.5s;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}
.hero-text h1 {
    display: flex;
    width: 300px;
    justify-content: center;
    font-weight: 700;
    font-size: 2.2rem;
}


    .hero-text p {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .text-btn {
        margin-top: 1rem;
        display: flex;
        gap: 15px; 
    }
    .btn {
        border: 2px solid slategrey;
        color: slategray;
        box-shadow: 2px 3px 4px black;
        padding: 1rem 1.3rem;
        border-radius: 8px;
        font-weight: 500;
    }
    .btn:hover{ 
        transform: scale(105%);
        transition-duration: 0.3s;
    }
    .dcd{
        width: 90vh;
        height: auto;
        border-radius: 15px;
        box-shadow: 2px 3px 4px black;
    }
    .parrafo{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 40vh;
        width: auto;
        margin-right: 120px;
        margin-bottom: 100px;
    }
    .parrafo li {
        list-style: none;
        padding: 5px;
        /* margin: 50px; */
    }
    .servicios{
        display: flex;
        flex-direction: column;
        padding: 25px 40px;
        width: 100vh;
        background: rgba(207, 207, 207, 0.61);
        border-radius: 10px;
    }
.servicios:hover{
    transform: scale(101%);
    transition-duration: 0.5s;
}
.intro{
    margin-bottom: 20px;
    font-size: 1rem;
    /* box-shadow: 0px 2px 2px rgb(160, 160, 160); */
    border-radius: 15px;
}